---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page and paginator.previous_page != 1 %}
    <a href="{{site.url}}/page/{{ paginator.previous_page }}" class="previous">이전 ←</a>
  {% else if paginator.previous_page and paginator.previous_page == 1 %}
    <a href="{{site.url}}/" class="previous">이전 ←</a>
  {% else %}
    <span class="previous">이전 ←</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }}페이지 / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.url}}/page/{{ paginator.next_page }}" class="next">→ 다음</a>
  {% else %}
    <span class="next">→ 다음</span>
  {% endif %}
</div>

  <p class="rss-subscribe"><a href="http://marx.mytory.net/feed.xml">RSS 구독</a></p>

</div>
